body {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

#main-container {
    width: 80%;
    height: 90%;
    margin: 10% auto 10% auto;
    display: flex;
    flex-wrap: wrap;
}

#logo-container {
    flex: 1;
}

#preview-container {
    flex: 1;
}

#slogan {
    margin: 40px 0 10px 20px;
}

p {
    color: white;
    font-size: 16pt;
    margin-bottom: 5px;
}

#iot {
    width: 100%;
}

@media screen and (max-width: 600px) {

    #preview-container {
        display: none;
    }

}